﻿<%@ Page Language="C#" AutoEventWireup="true" CodeBehind="bonusAssignpro2.aspx.cs" Inherits="bonusAssignmentprob1.bonusAssignpro2" %>

<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml">
<head runat="server">
    <title></title>
</head>
<body>
    <form id="form1" runat="server">
        <div id="blankDiv" runat="server">
        </div>
              <asp:TextBox runat="server" ID="myInt"></asp:TextBox>


        <asp:Button runat="server" ID="myButton" OnClick="myButton_Click" Text="Submit" />
    </form>
</body>
</html>
